<div class="nav-menu">
  <ul>
    @for(m of menu; track m){
    <li
      class="flex items-center gap-2 p-4 m-2 rounded-lg cursor-pointer"
      [ngClass]="selectedMenuOpt === m.name ? 'bg-blue-500' : 'bg-blue-300'"
      (click)="setMenu(m.name)"
      [routerLink]="m.link"
    >
      <span class="material-symbols-outlined">{{ m.icon }}</span>
      {{ m.description }}
    </li>
    }
  </ul>
  <ul class="sub-nav" *ngIf="selectedMenuOpt === 'settings'">
    @for(sm of subMenu; track sm) {
    <li
      class="sub-nav-element flex items-center gap-2 p-4 my-2 ml-6 rounded-lg cursor-pointer"
      [ngClass]="
        selectedSubMenuOpt === sm.name ? 'bg-amber-500' : 'bg-amber-300'
      "
      (click)="setSubMenu(sm.name)"
      [routerLink]="sm.link"
    >
      <span class="material-symbols-outlined">{{ sm.icon }}</span>
      {{ sm.description }}
    </li>
    }
  </ul>
</div>
