<div class="bg-emerald-700 h-screen w-56 flex flex-col">
  <div class="p-5">
    <div
      class="flex justify-center items-start gap-2 text-white text-xl w-full h-16"
    >
      <span class="material-symbols-outlined self-center">hotel</span>
      <span class="self-center">Guesto Portal</span>
    </div>
    <div
      class="separator bg-gradient-to-r from-emerald-500 to-emerald-700 h-0.5"
    ></div>
  </div>

  <ul>
    @for(m of menu; track m){
    <li
      class="flex flex-col items-center text-white text-xl py-4 cursor-pointer bg-emerald-700"
      [routerLink]="m.link"
      [routerLinkActive]="'bg-emerald-800'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <span class="material-symbols-outlined">{{ m.icon }}</span>
      {{ m.description }}
    </li>
    }
  </ul>
</div>
