<form>
  <div>
    <label class="block">
      <span>Name</span>
      <input
        type="text"
        class="form-input mt-1 block w-full"
        autocomplete="off"
      />
    </label>
    <label class="block">
      <span>Room No</span>
      <input
        type="text"
        class="form-input mt-1 block w-full"
        autocomplete="off"
      />
    </label>
    <label class="block">
      <span>Adults</span>
      <select class="form-select mt-1 block w-full" autocomplete="off">
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
    </label>
    <label class="block">
      <span>Children</span>
      <select class="form-select mt-1 block w-full" autocomplete="off">
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
    </label>
  </div>
  <div class="buttons">
    <button type="button">Cancel</button>
    <button type="button">Submit</button>
  </div>
</form>
