<form class="rooms-form">
  <div>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput autocomplete="off" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Badge</mat-label>
      <input matInput autocomplete="off" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Adults</mat-label>
      <input matInput type="number" autocomplete="off" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Children</mat-label>
      <input matInput type="number" autocomplete="off" />
    </mat-form-field>
  </div>
  <div>
    <button>Cancel</button>
    <button>Submit</button>
  </div>
</form>
