<table class="w-full text-sm text-left text-white">
  <thead class="text-xs uppercase bg-blue-500">
    <tr>
      @for(col of columns; track col) {
      <th class="px-6 py-3">{{ col }}</th>
      }
    </tr>
  </thead>
  <tbody>
    @for(room of rooms; track room) {
    <tr class="odd:bg-blue-300 even:bg-white even:text-black border-b">
      <td>{{ room.id }}</td>
      <td>{{ room.name }}</td>
      <td>{{ room.roomNo }}</td>
      <td>{{ room.adults }}</td>
      <td>{{ room.children }}</td>
    </tr>
    }
  </tbody>
</table>
