<form class="py-5 px-6 rounded-md bg-gray-200 border border-gray-400">
  <div>
    <label class="block">
      <span>Name</span>
      <input
        type="text"
        class="form-input mt-1 block w-full"
        autocomplete="off"
      />
    </label>
    <label class="block">
      <span>Room No</span>
      <input
        type="text"
        class="form-input mt-1 block w-full"
        autocomplete="off"
      />
    </label>
    <label class="block">
      <span>Adults</span>
      <select class="form-select mt-1 block w-full" autocomplete="off">
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
    </label>
    <label class="block">
      <span>Children</span>
      <select class="form-select mt-1 block w-full" autocomplete="off">
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
    </label>
  </div>
</form>
